.photo-grid {

    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 92px 48px 0 48px;
    max-width: 1184px;
    background: #2A2C2F;

}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-rows: repeat(3fr, min-content);
        grid-template-columns: repeat(3, 1fr); 
        
      
    }
}


@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 768px;
        margin: 86px 24px 0 24px;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
    }
