.header__logo {
    background-size: contain;
    max-width: 176px;
    margin-left: 48px;
    padding-top: 28px;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        max-width: 176px;
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
        margin-left: 0;
        padding-top: 16px;
    }
}