.header__text {
    display: flex;
    padding: 0;
    gap: 18px;
    list-style-type: none;
    padding-right: 48px;
    

    
    
      }
  
      @media screen and (max-width: 1024px) {
        .header__text {
          padding: 0;
        }
      }

      @media screen and (max-width: 320px) {
        .header__text {
          margin: 16px 0 0 16px;
          
        }
      }

    