.place__link {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;

}

@media screen and (max-width: 767px) {
    .place__link {
        margin-left: 16px;
    }
}
