.header__lang-links {
  display: flex;
  
  gap: 18px;
  list-style-type: none;
  text-decoration: none;
  padding-top: 48px;
}

@media screen and (max-width: 1024px) {
  .header__lang-links {
    
  }
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    padding-top: 30px;
  }
}