.intro__title {
    padding-top: 86px;
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
    .intro__title {
        padding-top: 83px;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        padding-top: 78px;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 251px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        padding-top: 64px;
    }
}